<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content" class="col-4 mx-auto text-center py-3">
  <form id="newUserForm" method="POST">
    <div class="form-group">
      <label for="name">First name</label>
      <input type="text" class="form-control" id="name"/>
    </div>
    <div class="form-group">
      <label for="lastname">Last name</label>
      <input type="text" class="form-control" id="lastname"/>
    </div>
    <div class="form-group">
      <label for="age">Age</label>
      <input type="text" class="form-control" id="age"/>
    </div>
    <div class="form-group">
      <label for="username">Email</label>
      <input type="email" class="form-control" id="username"/>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password"/>
    </div>
    <div class="form-group">
      <label for="rolesList">Role</label>
      <select class="custom-select" multiple id="rolesList" name="roleIds">
      </select>
    </div>
    <button id="saveUserButton" type="submit" class="btn btn-lg btn-success">Add new user</button>
  </form>
</div>
</body>
</html>