<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<h1>User, welcome spring boot security page!</h1>
<div style="display:flex">
    <div style="display:grid; margin-right:10px">
        <span>id:</span>
        <span>name:</span>
        <span>lastname:</span>
        <span>username:</span>
    </div>
    <div style="display:grid">
        <span th:text="${#authentication.principal.id}">id</span>
        <span th:text="${#authentication.principal.name}">name</span>
        <span th:text="${#authentication.principal.lastname}">lastname</span>
        <span th:text="${#authentication.principal.username}">username</span>
    </div>
</div>
<div th:replace="authentication :: content"></div>
</body>
</html>